@use "partials/utilities/variables" as var; 

@use "partials/base/reset";
@use "partials/base/global";
@use "partials/base/typography";

@use "partials/components/general";
@use "partials/components/header";
@use "partials/components/buttons";
@use "partials/components/cards";

@use "partials/sections/home";
@use "partials/sections/about";
@use "partials/sections/rooms";
@use "partials/sections/services";
@use "partials/sections/vip";
@use "partials/sections/contact";