@use '../utilities/variables' as var;

%btn-outline-base {
    border-radius: 0;
    border-right-width: 1px;
    justify-content: center;
}

.btn {
    &-outline {
        &-standard {   
            @extend %btn-outline-base;
            border-color: var.$color-brand-standard;
            color: var.$color-brand-standard;
        }   
        &-deluxe {
            @extend %btn-outline-base;
            border-color: var.$color-brand-deluxe;
            color: var.$color-brand-deluxe;
        }
        &-superior {
            @extend %btn-outline-base;
            border-color: var.$color-brand-superior;
            color: var.$color-brand-superior;
        }
    }
    &-explorar {
        @extend %btn-outline-base;
        border-color: var.$color-brand-accent; 
        color: var.$color-brand-accent;
    }
}