@use '../utilities/variables' as var;

.section-subtitle {
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
    color: var.$color-text-main;
    font-size: 20px;

    @media (max-width: var.$breakpoint-sm) {
        font-size: 18px;
    }
}