.home {
    &-section {
        padding-top: 20px;
        padding-bottom: 20px;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &-text {
        font-size: 32px;
        text-align: center;
    }
    &-card {
        display: flex;  
        justify-content: center;
        width: auto;
        padding-top: 20px;
        margin-bottom: 20px;
    }
}