@use '../utilities/variables' as var;

.service-vip {
    &-image {
        width: 1000px;
        border-radius: 25px;
    }
    &-title {
        font-size: 24px;
        font-family: var.$font-inknut;
        font-weight: 400;
        font-style: normal;
        color: var.$color-brand-accent;
    }
}

.c-custom { 
    &-item {
        height: 500px;
    }
    &-image {
        height: 100%;
        object-fit: cover;
    }
}