@use '../utilities/variables' as var;

body { 
    background-color: var.$color-dark-main;
    font-family: var.$font-roboto;
}

main {
    flex: 1;
    
    @media (max-width: var.$breakpoint-sm) {
        margin-bottom: 20px;
    }
}