@use '../utilities/variables' as var;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');


h1 {
    font-size: 120px;
    text-align: center;
    color: var.$color-brand-accent;
    font-family: var.$font-inknut;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 40px;

    @media (max-width: var.$breakpoint-md) { 
        font-size: 60px; 
    }
}

h2 {
    color: var.$color-brand-accent;
    font-family: var.$font-inknut;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

p {
    color: var.$color-text-main;
    font-family: var.$font-basic;
    font-weight: 400;    
}

label {
    font-size: 20px;
    color: var.$color-text-secondary;
    font-family: var.$font-geologica;    
}