$font-roboto: "Roboto", sans-serif;
$font-ubuntu: "Ubuntu", sans-serif;
$font-inknut: "Inknut Antiqua", serif;
$font-basic: "Basic", sans-serif;
$font-geologica: "Geologica", sans-serif;

$color-dark-main: #141414;
$color-dark-secondary: #202020;
$color-dark-navbar: rgb(39, 39, 39);
$color-text-main: #C5C3C6;
$color-text-secondary: #7c7c7c;

$color-brand-accent: #FDCA40;
$color-brand-standard: #1985A1;
$color-brand-deluxe: #FDCA40;
$color-brand-superior: #C5C3C6;
$color-brand-hover: #ffd100;
$color-brand-active: #ffee32;
$color-brand-light: #FFFFFF;

$breakpoint-sm: 576px;
$breakpoint-md: 776px;