@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Basic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #141414;
  font-family: "Roboto", sans-serif;
}

main {
  flex: 1;
}
@media (max-width: 576px) {
  main {
    margin-bottom: 20px;
  }
}

h1 {
  font-size: 120px;
  text-align: center;
  color: #FDCA40;
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 40px;
}
@media (max-width: 776px) {
  h1 {
    font-size: 60px;
  }
}

h2 {
  color: #FDCA40;
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

p {
  color: #C5C3C6;
  font-family: "Basic", sans-serif;
  font-weight: 400;
}

label {
  font-size: 20px;
  color: #7c7c7c;
  font-family: "Geologica", sans-serif;
}

.section-subtitle {
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
  color: #C5C3C6;
  font-size: 20px;
}
@media (max-width: 576px) {
  .section-subtitle {
    font-size: 18px;
  }
}

.navbar-custom {
  background-color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.navbar-logo {
  width: 50px;
}
.navbar-toggler-icon-custom {
  width: 30px;
  height: 30px;
}
.navbar-toggler-btn:hover {
  background-color: black;
}

.my-nav {
  color: #C5C3C6;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.my-nav:hover {
  color: #ffd100;
}
.my-nav-active {
  color: #ffee32;
}

.btn-outline-standard {
  border-radius: 0;
  border-color: #1985A1;
  color: #1985A1;
  border-right-width: 1px;
  justify-content: center;
}
.btn-outline-deluxe {
  border-radius: 0;
  border-color: #FDCA40;
  color: #FDCA40;
}
.btn-outline-superior {
  border-radius: 0;
  border-color: #C5C3C6;
  color: #C5C3C6;
}
.btn-explorar {
  border-radius: 0;
  border-color: #FDCA40;
  color: #FDCA40;
}

.room-card {
  background-color: #202020;
  border-color: #7c7c7c;
  margin-bottom: 100px;
  display: flex;
  text-align: center;
}

.room-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card-image-rounded {
  display: flex;
  border-radius: 35px;
  padding: 20px;
  width: 250;
  height: auto;
}

.service-card {
  display: flex;
  max-width: 30em;
  flex-direction: row;
  border-radius: 0.7em;
  padding: 1em;
  background-color: #202020;
}
@media (max-width: 576px) {
  .service-card {
    flex-direction: column;
    text-align: center;
  }
}

.service-image {
  max-width: 25%;
  margin: auto;
  padding: 0.5em;
  border-radius: 0.7em;
  object-fit: cover;
}

.service-body {
  padding: 0.5em;
  background-color: #202020;
}

.service-title {
  color: #FFFFFF;
}

.home-section {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-text {
  font-size: 32px;
  text-align: center;
}
.home-card {
  display: flex;
  justify-content: center;
  width: auto;
  padding-top: 20px;
  margin-bottom: 20px;
}

.about-container {
  padding: 60px 0;
}
.about-row {
  display: flex;
  padding-top: 120px;
}

.img-nosotros {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.nosotros-modify-image {
  width: 450px;
  height: auto;
  border-radius: 20px;
}

.room-title {
  padding: 0;
  margin: 50px;
  margin-top: 20px;
  text-align: center;
  justify-content: space-between;
  font-family: "Inknut Antiqua", serif;
  font-size: 55px;
}
@media (max-width: 576px) {
  .room-title {
    font-size: 30px;
  }
}
.room-type {
  font-family: "Inknut Antiqua", serif;
  text-align: center;
}
.room-type--standard {
  color: #1985A1;
}
.room-type--deluxe {
  color: #FDCA40;
}
.room-type--superior {
  color: #C5C3C6;
}

.services-section {
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 80vh;
}
.services-title, .services-subtitle {
  text-align: center;
}
.services-grid {
  margin-top: 40px;
  gap: 30px;
}
.services-col-center {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.service-vip-image {
  width: 1000px;
  border-radius: 25px;
}
.service-vip-title {
  font-size: 24px;
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
  color: #FDCA40;
}

.c-custom-item {
  height: 500px;
}
.c-custom-image {
  height: 100%;
  object-fit: cover;
}

.contact-title, .contact-subtitle {
  text-align: center;
}
.contact-subtitle {
  font-size: 24px;
}
.contact-row-padding {
  padding: 50px;
  padding-bottom: 20px;
}
.contact-image {
  width: 500px;
  border-radius: 10px;
}
.contact-info-title {
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
  color: #FDCA40;
}
.contact-info-text {
  font-size: 18px;
}

footer {
  margin-top: auto;
  background-color: rgb(39, 39, 39);
  text-align: center;
  padding: 25px 0;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
